.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 50px; 
}
.title { 
    font-size: 40px; 
    font-weight: bold;
}
.content { 
    display: flex; 
    align-items: center;
    gap: 100px;
}
.imgContainer{ 
    display: flex; 
    flex: 1; 
    height: 500px; 
    width: 500px; 
    position: relative; 
}
.image{ 
    object-fit: contain; 
    animation: move 4s ease-in-out infinite;
}

@keyframes move {
    0%, 100%  { 
        transform: scale(1); 
    }
    50% { 
        transform: scale(1.05); 
    }
}

.form { 
    flex: 1; 
    display: flex; 
    flex-direction: column;
    gap: 20px; 
}

.input, .textArea { 
    border: none; 
    outline: none; 
    background-color: transparent; 
    color: #bbb; 
    padding: 20px;
    border : 3px solid #bbb ; 
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
}